build/
/opencv/OpenCv.2.Computer.Vision.Application.Programming.Cookbook.May.2011.PDF
cscope.*
objc/*.html
objc/*.mm
objc/*.tex
dotnet/*.html
dotnet/*.mm
dotnet/*.tex
dotnet/*/*/*.exe
*_flymake.cs
*_flymake.netmodule
