@page
@using Microsoft.Extensions.Configuration
@model IndexModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home page";
}

@*환경변수 "COMPUTERNAME"을 여기 출력할 수 있다(설정파일에는 없지만, 환경변수로는 있다!! 환경변수도 가져올 수 있다)*@
<h2>환경변수 COMPUTERNAME-의 값: @Configuration["computername"]</h2>

@*또는 appsettings.json에 포함시킨 설정값을 볼 수 도 있다*@
<h2>설정파일에 있는 MyTwitterKey값 : @Configuration["MyTwitterKey"]</h2>

@*사용자가 정의 TagHelper클래스인 테스트*@

<repeat count="6">
    <p>I will be repeated!</p>
</repeat>